.list {
  display: flex;
  justify-content: center;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.button {
  width: 100px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  color: #fff;
}

.button:hover {
  transform: scale(1.1);
}

.good {
  composes: button;
  background-color: #059e05;
  box-shadow: 7px 5px 5px rgb(82, 206, 82);
}

.neutral {
  composes: button;
  background-color: #b8b83c;
  box-shadow: 7px 5px 5px rgb(231, 231, 114);
}

.bad {
  composes: button;
  background-color: #e71111;
  box-shadow: 7px 5px 5px rgb(250, 136, 136);
}
